// Body

body {

  background-color: $page-background-color;
  color: $page-text-color;
  font-family: $text-font-family;
  font-size: 1em;
  line-height: 1.375em;
  text-rendering: optimizeLegibility;

  @include breakpoint(xs) {
    line-height: 1.25em;
  }

  .flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
  }

  .flexbox-container > div:first-child {
    width: 70%;
    padding: 10px;
  }
  .flexbox-container > div:last-child {
    padding: 10px;
  }

  .flexbox-container > div:first-child {
    margin-right: 20px;
  }

  .bp-widget.profile > div {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid black;
  }
}
