// Footer

/*
footer {

  background-color: $footer-bg-color;
  color: $footer-text;
  display: flex;

  .widget {

    padding: 1em;

    a {
      color: $footer-text;
      text-decoration: underline;
    }

  }

}
*/

#FOOTER_1 {
    box-sizing: border-box;
    //height: 161px;
    //width: 1076px;
    perspective-origin: 538px 80.5px;
    transform-origin: 538px 80.5px;
    background: rgb(3, 74, 81) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px / 24px proxima-nova, sans-serif;
}/*#FOOTER_1*/

#DIV_2 {
    box-sizing: border-box;
    height: 161px;
    text-align: center;
    //width: 970px;
    perspective-origin: 485px 80.5px;
    transform-origin: 485px 80.5px;
    font: normal normal normal normal 16px / 24px proxima-nova, sans-serif;
    margin: 0px 53px;
}/*#DIV_2*/

#DIV_3 {
    box-sizing: border-box;
    height: 55px;
    text-align: center;
    //width: 970px;
    perspective-origin: 485px 27.5px;
    transform-origin: 485px 27.5px;
    font: normal normal normal normal 16px / 24px proxima-nova, sans-serif;
}/*#DIV_3*/

#UL_4 {
    box-sizing: border-box;
    display: inline-block;
    height: 48px;
    text-align: center;
    //width: 304.734px;
    perspective-origin: 152.359px 24px;
    transform-origin: 152.359px 24px;
    font: normal normal normal normal 16px / 24px proxima-nova, sans-serif;
    list-style: none outside none;
    margin: 0px;
    padding: 30px 0px 0px;
}/*#UL_4*/

#LI_5 {
    box-sizing: border-box;
    display: block;
    float: left;
    height: 18px;
    left: 0px;
    position: relative;
    text-align: center;
    //width: 108.734px;
    perspective-origin: 54.3594px 9px;
    transform-origin: 54.3594px 9px;
    border-right: 1px solid rgb(176, 179, 179);
    font: normal normal normal normal 14px / 24px proxima-nova, sans-serif;
    list-style: none outside none;
}/*#LI_5*/

#A_6 {
    box-sizing: border-box;
    color: rgb(179, 179, 179);
    display: block;
    height: 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    //width: 107.734px;
    perspective-origin: 53.8594px 9px;
    transform-origin: 53.8594px 9px;
    border: 0px none rgb(179, 179, 179);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 14px / 14px proxima-nova, sans-serif;
    list-style: none outside none;
    outline: rgb(179, 179, 179) none 0px;
    padding: 2px 8px;
}/*#A_6*/

#SPAN_7, #SPAN_10, #SPAN_13 {
    box-sizing: border-box;
    color: rgb(179, 179, 179);
    text-align: center;
    border: 0px none rgb(179, 179, 179);
    font: normal normal normal normal 14px / 14px proxima-nova, sans-serif;
    list-style: none outside none;
    outline: rgb(179, 179, 179) none 0px;
}/*#SPAN_7, #SPAN_10, #SPAN_13*/

#LI_8 {
    box-sizing: border-box;
    display: block;
    float: left;
    height: 18px;
    left: 0px;
    position: relative;
    text-align: center;
    //width: 64.7344px;
    perspective-origin: 32.3594px 9px;
    transform-origin: 32.3594px 9px;
    border-right: 1px solid rgb(176, 179, 179);
    font: normal normal normal normal 14px / 24px proxima-nova, sans-serif;
    list-style: none outside none;
}/*#LI_8*/

#A_9 {
    box-sizing: border-box;
    color: rgb(179, 179, 179);
    display: block;
    height: 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    //width: 63.7344px;
    perspective-origin: 31.8594px 9px;
    transform-origin: 31.8594px 9px;
    border: 0px none rgb(179, 179, 179);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 14px / 14px proxima-nova, sans-serif;
    list-style: none outside none;
    outline: rgb(179, 179, 179) none 0px;
    padding: 2px 8px;
}/*#A_9*/

#LI_11 {
    box-sizing: border-box;
    display: block;
    float: left;
    height: 18px;
    left: 0px;
    position: relative;
    text-align: center;
    //width: 131.266px;
    perspective-origin: 65.625px 9px;
    transform-origin: 65.625px 9px;
    font: normal normal normal normal 14px / 24px proxima-nova, sans-serif;
    list-style: none outside none;
}/*#LI_11*/

#A_12 {
    box-sizing: border-box;
    color: rgb(179, 179, 179);
    display: block;
    height: 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    //width: 131.266px;
    perspective-origin: 65.625px 9px;
    transform-origin: 65.625px 9px;
    border: 0px none rgb(179, 179, 179);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 14px / 14px proxima-nova, sans-serif;
    list-style: none outside none;
    outline: rgb(179, 179, 179) none 0px;
    padding: 2px 8px;
}/*#A_12*/

#DIV_14 {
    box-sizing: border-box;
    height: 47px;
    text-align: center;
    //width: 970px;
    perspective-origin: 485px 23.5px;
    transform-origin: 485px 23.5px;
    font: normal normal normal normal 16px / 24px proxima-nova, sans-serif;
}/*#DIV_14*/

#UL_15 {
    box-sizing: border-box;
    height: 47px;
    text-align: center;
    //width: 970px;
    perspective-origin: 485px 23.5px;
    transform-origin: 485px 23.5px;
    font: normal normal normal normal 16px / 24px proxima-nova, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 5px;
    padding: 10px 0px 0px;
}/*#UL_15*/

#LI_16, #LI_18, #LI_20 {
    box-sizing: border-box;
    display: inline-block;
    height: 37px;
    left: 0px;
    position: relative;
    text-align: center;
    width: 30px;
    perspective-origin: 15px 18.5px;
    transform-origin: 15px 18.5px;
    font: normal normal normal normal 16px / 24px proxima-nova, sans-serif;
    list-style: none outside none;
    margin: 0px 5px;
}/*#LI_16, #LI_18, #LI_20*/

#A_17 {
    background-position: 50% 50%;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 30px;
    perspective-origin: 15px 15px;
    transform-origin: 15px 15px;
    background: rgba(0, 0, 0, 0) url("../../assets/images/social-icon-facebook.png") no-repeat scroll 50% 50% / 20px 20px padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 16px / 16px proxima-nova, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 2px;
}/*#A_17*/

#A_19 {
    background-position: 50% 50%;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 30px;
    perspective-origin: 15px 15px;
    transform-origin: 15px 15px;
    background: rgba(0, 0, 0, 0) url("../../assets/images/social-icon-linkedin.png") no-repeat scroll 50% 50% / 20px 20px padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 16px / 16px proxima-nova, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 2px;
}/*#A_19*/

#A_21 {
    background-position: 50% 50%;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 30px;
    perspective-origin: 15px 15px;
    transform-origin: 15px 15px;
    background: rgba(0, 0, 0, 0) url("../../assets/images/social-icon-twitter.png") no-repeat scroll 50% 50% / 20px 20px padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 16px / 16px proxima-nova, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 2px;
}/*#A_21*/

#P_22 {
    box-sizing: border-box;
    color: rgb(179, 179, 179);
    height: 24px;
    text-align: center;
    //width: 970px;
    perspective-origin: 485px 12px;
    transform-origin: 485px 12px;
    border: 0px none rgb(179, 179, 179);
    font: normal normal normal normal 11px / 24px proxima-nova, sans-serif;
    margin: 0px 0px 30px;
    outline: rgb(179, 179, 179) none 0px;
}/*#P_22*/
