// Masthead
#main-site-header {

  background-color: $nav-primary-background-color;
  color: $mla-blue;

  > div {
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 0 2em;
  }

  .brand {
    flex: 0;
    line-height: 0;
    margin-left: 2em;

    img {
    }
  }

  nav {
    @include tabs($color: $mla-blue);
    flex: 1;
    font-family: $header-font-family;
    font-size: $size-vs;
    text-align: right;
    margin-right: 2em;
  }
}
