// Masthead
#main-site-header {

  background-color: $nav-primary-background-color;
  display: flex;
  line-height: 1em;

  .brand {
    flex: 0;
    margin: 6px 1em 0; // 6px to center vertically: 1.5 × 4px border on nav tabs

    img {
    }
  }

  nav {
    @include tabs;
    flex: 1;
    font-family: $header-font-family;
    font-size: $size-m;
  }

}
