.secondary,
#item-nav,
.item-list-tabs {
  @include tabs;
}

.tertiary,
#item-body #subnav {

  background-color: $nav-tertiary-background-color;
  font-family: $header-font-family;
  font-size: $size-vs;

  label {
    color: $nav-text-color;
  }

}
