// Layout containers

#main-site-header > div,
#buddypress,
footer > div {
  max-width: 1000px;
  margin: 0 auto;
}

.container {
  margin: 3em 1em;
}

.item-list {

  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  li {

    @include tile;
    align-items: center;
    display: flex;
    flex: 1 1 25em;
    margin: 1em;
    min-height: 175px;

    .item {
      margin-left: 1em;
      //min-width: 9em;
    }

    .item-title {
      margin: 1em;
      text-align: center;
    }

    .action {
      margin: 1em;
      text-align: center;
    }
  }

}

.item-avatar {
  img {
    @include tile;
    border-radius: 50%;
    display: block;
    margin-left: 1em;
  }
}

.item-title {
  font-size: $size-m;

  .update {
    font-size: $size-xs;
  }

}

#item-header {

  @include content;
  display: flex;

  #item-header-avatar {

    margin: 2em 3% 2em 0;

    img {
    }

    #item-buttons {
      text-align: center;
    }

  }

  #item-header-content {
    flex: 1;
    display: flex;
    margin: 2em 0;

    h1 {
      margin: 0;
    }
  }

  #item-meta {
    flex: 1;
  }

  #item-admins {
    text-align: right;

    ul {
      list-style-type: none;

      li {
        display: inline-block;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

}

#item-body > #bbpress-forums {
  @include content;
}

.page-header {
  background-color: $nav-primary-background-color;

  h1 {
    margin: 0;
  }
}
