// Dashboard

// scss-lint:disable SelectorFormat

.dashboard .main {

  display: flex;

  @include breakpoint(xs) {
    flex-direction: column;
  }

  #buddypress {
    flex: 2;
  }

  .sidebar {
    flex: 1;
  }

}

.widget_mla_bp_profile_area {

  background-color: $nav-tertiary-background-color;
  color: $nav-text-color;
  padding: 1em;

  .user_profile {
    display: flex;
  }

  .avatar {
    margin-right: 1em;
  }

  .name {
    font-size: $size-m;
  }

  #profile_button {
    padding: 1em;
    text-align: center;
  }

  .links {
    display: flex;
    justify-content: space-around;
    padding: 1em;
  }

}

.widget_rss,
.widget_text,
.widget_links {
  list-style-type: none;
}

.widget_rss {
  // MLA News
  a img {
    display: none;
  }
}

.widget_text {
  // MLA Sites
}

.widget_links {
  // Member Resources
}

.home-page {
  main {
    display: flex;
    margin: 40px;
  }

  .recent-commons-activity {
    flex: 1;

    div {
      margin: 10px 0;
    }
  }

  .widgets {
    flex: 2;
  }

  .columns {
    display: flex;
  }

  .dashboard-right,
  .dashboard-left {
    flex: 1;
  }

  .dashboard-top,
  .dashboard-right,
  .dashboard-left {
    li {
      display: block;
      padding: 20px;
      margin: 20px 0;
      border: 1px solid black;
      min-height: 200px;
    }

    h2 {
      font-size: 1em;
    }
  }
}
