.page-header {
  display: none;
}

#item-header {
  #item-header-avatar img.avatar {
    border-radius: 50%;
  }

  #item-header-content {
    margin: 2em 0;
    display: flex;
    width: 100%;

    #item-main {
      flex: 1;
    }
    #item-meta {
      flex: 1;
      text-align: right;
    }
  }
}

// body also has class profile
div.profile {
  display: flex;

  .left {
    flex: 1;
  }

  .right {
    flex: 2;
    margin-left: -1em;
  }

  > div {
    .commons-groups,
    .commons-sites {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: inline;
          background-color: #ccc;
          margin-right: 1em;
          padding: 0 .5em;
        }
      }
    }

    > div {
      border: 1px solid black;
      margin: 1em;
      padding: 0 .5em .5em;

      ul {
        margin-bottom: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
