body.profile {
  .page-header {
    display: none;
  }

  #item-header {
    #item-buttons {
      margin-top: 1em;
    }

    #item-header-avatar img.avatar {
      border-radius: 50%;
    }

    #item-header-content {
      margin: 2em 0;
      display: flex;
      width: 100%;

      #item-main {
        flex: 1;
      }
      #item-meta {
        flex: 1;
        text-align: right;
      }
    }

    .generic-button {
      display: inline;
      margin-left: 1em;
    }
  }

  // body also has class profile
  div.profile {
    display: flex;

    .left {
      flex: 1;
    }

    .right {
      flex: 2;
      margin-left: -1em;
    }

    > div {
      h4 {
        margin-top: 0;
      }

      .commons-groups,
      .commons-sites {
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          li {
            display: inline;
            background-color: #ccc;
            margin-right: 1em;

            a:hover {
              text-decoration: none;
              background-color: #999;
            }
            // each word is wrapped in a span to allow for padding words at the end of lines
            span {
              padding: 0 .25em;
              display: inline-block;
            }
          }
        }
      }

      > div {
        margin: 1em;
        padding: .5em;
        background-color: #eee;

        ul {
          margin-bottom: 0;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
